//- index.pug
doctype html
- var title = "Alloy Networks"
- var years = (() => { let date = new Date(); return `2005 - ${date.getFullYear()}`})()

html(lang="en")
  include index/head.pug
  body
    include index/home.pug
    include index/foot.pug
